html {
  overflow: hidden;
  height: 100%;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;

  @media screen and (max-width: 950px) {
    overflow: auto;
  }
}

body {
  height: 100%;
  // overflow: auto;
  font-family: $mainFont;
  font-size: 10px;
}
