.u-container {
  position: relative;
  z-index: 10;
  width: 80%;
  margin: auto;
}

.js-toSplit .u-letter {
  opacity: 0;
  transition: ease 0.3s;

  &.fade-in {
    opacity: 1;
    transition: ease 0.3s;
  }

  &.fade-out {
    opacity: 0;
    transition: ease 0.3s;
  }
}
